:root {

  /* Telas de Fundo */
  --bg-main: #6a11cb;
  --bg-card: #4b0082;
  --bg-card-alt: #5a1a8a;

  /* Textos */
  --text-main: #00FFFF;
  --text-title: #FFFFFF;
  --text-secondary: #CCCCCC;

  /* Botões */
  --bt-main: #00FFFF;
  --bt-hover: #00a6d8;

  /* Bordas */
  --border-default: #433D3C;
}