:root {

  /* Telas de Fundo */
  --bg-main: #12110C;
  --bg-card: #44403E;
  --bg-card-alt: #43413E;

  /* Textos */
  --text-main: #E6E6E5;
  --text-title: #FFFFFF;
  --text-secondary: #888784;

  /* Botões */
  --accent-red: #BC0D0C;
  --accent-red-hover: #fa1717;

  /* Bordas */
  --border-default: #433D3C;
}